:root {
  --bg-color: #121212;
  --font-color: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

/* DATETIME FORMATTING */

.timestamp {
  font-family: 'Courier New', monospace;
  font-variant-numeric: tabular-nums;
}

/* ICONS COLORS */

.pi-folder {
  color: #3b82f6;
}

.pi-play-circle {
  color: #a855f7;
}

.pi-comment {
  color: #22c55e;
}
